:root {
  --gray: #707070
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 48pt;
  color: var(--gray);
  font-weight: normal;
  margin-top: 0;
}

h3 {
  font-family: Arial, sans-serif;
  font-size: 20pt;
  color: var(--gray);
  font-weight: normal;
}

p {
  font-size: larger;
  border-top: var(--gray) solid 1px;
  padding-top: 2em;
  padding-bottom: 2em;
}

#main-content-box {
  margin: 0px 20vw;
  background-color: rgba(255,255,255,200);
  height: fit-content;
  /*opacity: 70%;*/
  /*filter: blur(10px) !important;*/
  /*-webkit-filter: blur(10px) !important;*/
  box-shadow: #00000080 2px 3px 8px 0;
  padding: 40px;
}

#header {
  display: flex;
  flex-direction: row;
  margin-bottom: 3em;
}

#overview {
  text-align: left;
  margin-left: 1em;
}

#resume {
  float: right;
  box-shadow: #00000080 2px 3px 8px 0;
  text-align: center;
  height: 200px;
  width: 120px;
  vertical-align: baseline;
}

#resume:active {
  box-shadow: none;
}
